body {
    margin: 0;
    background-color: #373746;
    font-family: montserrat;
    overflow: hidden;

    /* Variables: */
    --color-titulos: #fff;
    --color-del-texto: #efefef;
    --color-de-fondo-de-nav: #302c2c;
    --altura-de-linea: 1.5;

    --color-codigo: #112;
    --tamaño-fuente-codigo: 16px;
    --tamaño-letra-cita: 20px;
    --color-letra-cita-y-aclaracion: #d8d8d8;
    --tamaño-letra: 22px;
}

* {
    box-sizing: border-box;
}

.encabezado {
    position: sticky;
    top: 0;
}




/* HEADER */

.fondo-header {
    background-image: url("Imagenes/internet-mundo2.jpg");
    background-size: cover;
    background-position: 0 590px;
}

.capa-oscura {
    width: 100%;
    height: 100%;
    background-color: #000000cf;
}

header {
    text-align: center;
    padding: 45px 0;
    font-size: 40px;
    font-weight: 700;
}

header a {
    padding: 16px 23px;
    text-decoration: none;
    color: var(--color-del-texto);
    border-radius: 10px;
    letter-spacing: 2px;
}




/* Barra de navegacion */

nav ul {
    display: flex;
    background-color: var(--color-de-fondo-de-nav);
    margin: 0;
    padding: 0;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 20px;
}

nav a, .temas a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: var(--color-del-texto);
    font-weight: 800;
    transition: background-color .6s;
}

nav a:hover, .temas a:hover {
    background-color: #444;
    color: var(--color-del-texto);
}




/* Links: */

p a {
    color: #0cf;
}

p a:hover {
    background-color: var();
}




/* Parte principal de la pagina */

.flexbox {
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-direction: row;

    max-width: 100%;
    padding: 0 60px;
    padding-right: 0;
}

.temas {
    min-width: 22%;
    max-height: fit-content;
}

main {
    max-height: 77dvh;
}




/* TEMAS */

.temas {
    color: var(--color-del-texto);
    text-align: center;
    border-radius: 10px;
    background-color: var(--color-de-fondo-de-nav);
    margin-top: 60px;
    height: 500px;
    padding: 20px 0;
}

.temas h2 {
    font-size: 30px;
    margin-top: 15px;
}

.temas ul {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    max-height: 80%;
}

.temas ul li {
    list-style: none;
    font-size: 18px;
    padding: 0 20px;
}



/* MAIN */

main {
    color: var(--color-del-texto);
    overflow-y: scroll;
    min-height: 80.8dvh;
    scrollbar-color: var(--color-del-texto) transparent;
    margin-left: 70px;
    padding: 0 190px 21px 80px;
    margin-top: 0;
}

main img {
    width: 100%;
}




/* Parrafos, titulos y subtitulos: */

.titulo {
    color: var(--color-titulos);
    font-size: 45px;
    padding: 0;
    padding-top: 30px;
    margin-top: 68px;
    margin-bottom: 33px;
    text-wrap: balance;
}

.titulo1 {
    margin-top: 0;
    font-size: 55px;
}

.subtitulo {
    font-size: 30px;
    margin: 60px 0 5px 0;
}

p {
    margin: 30px 0;
    font-size: var(--tamaño-letra);
    padding-right: 40px;
    text-wrap: pretty;
    line-height: var(--altura-de-linea);
}

h4 {
    font-size: var(--tamaño-letra);

}




/* Citas / Aclaraciones: */

.cita, .aclaracion {
    margin: 61px 0;
    font-size: var(--tamaño-letra-cita);
    padding: 8px;
    padding-left: 20px;
    border-left: 8px solid var(--color-de-fondo-de-nav);
    font-weight: 600;
    color: var(--color-letra-cita-y-aclaracion);
    font-style: italic;
    line-height: 28px;
}

.aclaraciones {
    border-left: 8px solid var(--color-de-fondo-de-nav);
    padding: 8px;
    padding-left: 20px;
    font-style: italic;
    color: var(--color-letra-cita-y-aclaracion);
}

.aclaracion-1, .aclaracion-2 {
    margin: 0;
    font-weight: 600;
    font-size: var(--tamaño-letra-cita);
}

.aclaracion-1 {
    margin-bottom: 35px;
}




/* Listas: */

.terminos, .caracteristicas {
    padding-left: 25px;
}

.terminos li, .caracteristicas li {
    margin: 40px 0;
    font-size: 23px;
    letter-spacing: 0.2px;
    line-height: var(--altura-de-linea);
}

span {
    font-weight: 700;
    color: #fff;
}



/* Codigo: */

.codigo {
    background-color: var(--color-codigo);
    padding: 30px;
    padding-right: 35px;
    font-size: var(--tamaño-fuente-codigo);
    border-radius: 10px;
}

.codigo p {
    padding: 0;
    margin: 10px 0;
    font-size: var(--tamaño-fuente-codigo);
}



/* Colores: */

.verde-claro {
    color: #de0;
}

.amarillo {
    color: #f9f639;
}

.celeste {
    font-weight: 400;
    color: #0cf;
}




/* Footer: */

.footer {
    text-align: center;
    font-size: 22px;
    color: #bbb;
    margin: 60px 0;
    margin-top: 80px;
}